@import "../variables.scss";
.navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;

    h1 {
        font-weight: 400;
        letter-spacing: .1em;
        border: 5px solid $light-color;
        padding: 10px 15px;
        text-align: center;
    }
    button {
        letter-spacing: .02em;
        font-family: $secondary-font;
        font-weight: 300;
        &:hover{
            color: $primary-color;
        }
    }
}