*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  background-image: url("./assets/bg-pattern.png");
}


