@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500&display=swap');
// primary-color
$primary-color: #14a190;
// secondary-color
// light-color
// dark-color
// dark-color
//primary-font
$primary-font: 'Montserrat', sans-serif; // 100, 200, 300, 400, 500, 600, 700
$secondary-font: 'Quicksand', sans-serif; // 300, 400, 500
