@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Quicksand:wght@300;400;500&display=swap');
// primary-color
$primary-color-1: #f9744b;
$primary-color-2: #d84f2a;

// secondary-color
$secondary-color-1: #0d6872;
$secondary-color-2: #094044;

// light-color
$light-color: #ededed;
// dark-color
$dark-color-1: #102937;
$dark-color-2: #091d26;

//primary-font
$primary-font: 'Montserrat', sans-serif; // 100, 200, 300, 400, 500, 600, 700
$secondary-font: 'Quicksand', sans-serif; // 300, 400, 500
